.intro {
    &_content {
        color: $gray-7d;
        font-weight: normal;
        line-height: 25px;
        margin: 0;
        text-align: justify;
    }
    &-global {
        text-align: center;
        padding: 100px 20px 0;
        background-image: url(../img/global-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .title-home {
            margin-bottom: 15px;
        }
        .intro_content {
            text-align: center;
            margin: 0 0 35px;
        }
    }
}

.tab-about {
    .nav-link {
        width: 170px;
        text-align: center;
        padding: 10px;
    }
}

.company {
    padding-left: 15vw;
    margin-top: 6.25vw;
    .title-home {
        margin-bottom: 25px;
    }
    &_inner {
        padding-right: $container-padding-lg;
        position: relative;
        background-color: $gray-ec;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 45%;
    }
    &_pic {
        width: 55%;
        position: absolute;
        left: -15%;
        top: -10%;
    }
    &_style {
        position: absolute;
        height: 100%;
        top: 0;
        right: 100%;
    }
}

.home-bussiness {
    padding: 135px 0;
    background-image: url(../img/Business-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_text {
        background-color: $main-blue;
        width: 50%;
        transform: translate(10px, 10px);
    }
    &_inner {
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 70px;
        transform: translate(-10px, -10px);
        .title-home {
            margin-bottom: 20px;
        }
    }
    &.inner {
        .home-bussiness {
            &_text {
                background-color: transparent;
            }
            &_inner {
                background-color: transparent;
                box-shadow: none;
            }
        } 
        .intro_content {
            color: $gray-48;
        }
    }
}

.about {
    &_content {
        &_item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(to right, transparent 0%, transparent 6%, $gray-ec 6%, $gray-ec 100%);
            margin-bottom: 135px;
            &:nth-child(even) {
                background: linear-gradient(to left, transparent 0%, transparent 6%, $gray-ec 6%, $gray-ec 100%);
                .about_content {
                    &_pic {
                        order: 2;
                    }
                    &_text {
                        order: 1;
                    }
                }
            }
        }
        &_pic {
            width: 43%;
            padding-bottom: calc(43% * 0.69);
            position: relative;
            transform: translateY(45px);
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_text {
            width: 57%;
            padding: 0 50px;
            .title-home {
                color: $gray-46;
                margin-bottom: 20px;
            }
        }
    }
    &_eh {
        position: relative;
        .about_content_pic {
            transform: none;
            width: 87%;
            padding-bottom: calc(87% * 0.69);
        }
        >.container {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &_equip {
        width: 50%;
        z-index: 10;
        &_title {
            position: absolute;
            padding: 8px 38px;
            background-color: $main-blue;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            width: 65%;
            top: 45px;
            right: 0;
        }
    }
    &_history {
        padding-bottom: 48px;
        width: 50%;
        .about_content_pic {
            margin-left: auto;
            margin-top: 12vw;
            z-index: 10;
        }
        &_text {
            position: absolute;
            color: #fff;
            padding: 6vw 8vw 4vw $container-padding-xxl;
            background-color: $main-blue;
            left: 0;
            bottom: 0;
            z-index: 0;
            width: 61vw;
            .title-home {
                margin-bottom: 20px;
            }
            p {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width:1399.98px) {
    .company {
        &_inner {
            padding-bottom: 80px;
        }
    }
    .about {
        &_content {
            &_text {
                padding: 30px 50px;
                .title-home {
                    font-size: 32px;
                }
            }
        }
        &_history {
            &_text {
                .title-home {
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width:1199.98px) {
    .company {
        &_pic {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .home-bussiness {
        &_inner {
            padding: 50px;
        }
    }
    .about {
        &_equip {
            &_title {
                padding: 8px 30px;
                font-size: 16px;
                top: 30px;
            }
        }
    }
}

@media screen and (max-width:991.98px) {
    .company {
        padding-left: 0;
        .title-home {
            font-size: 32px;
            margin-bottom: 15px;
        }
        &_inner {
            padding: 0 !important;
        }
        &_pic {
            position: static;
            transform: none;
            width: 100%;
        }
        &_text {
            padding: 50px 40px;
            width: 100%;
        }
        &_style {
            display: none;
        }
    }
    .home-bussiness {
        background-image: none;
        padding: 0;
        &_text {
            transform: none;
            background-color: transparent;
            width: 100%;
            padding: 50px 70px;
        }
        &_inner {
            box-shadow: none;
            background-color: transparent;
            padding: 0;
            transform: none;
        }
        &.inner {
            .intro_content {
                color: $gray-46;
            }
        }
    }
    .about {
        &_content {
            padding-top: 30px;
            &_pic {
                width: 95%;
                padding-bottom: calc(95% * 0.69);
                transform: translateY(-30px);
            }
            &_text {
                width: 95%;
                margin-left: auto;
                margin-right: 0;
                padding: 0 30px 30px;
            }
            &_item {
                margin-bottom: 80px;
                &:nth-child(even) {
                    background: linear-gradient(to right, transparent 0%, transparent 6%, $gray-ec 6%, $gray-ec 100%);
                    .about_content {
                        &_pic {
                            order: 1;
                        }
                        &_text {
                            order: 2;
                        }
                    }
                }
            }
        }
        &_equip {
            width: 100%;
            background: linear-gradient(to right, transparent 0%, transparent 6%, $gray-ec 6%, $gray-ec 100%);
            margin-bottom: 80px;
            &_title {
                position: static;
                color: $gray-48;
                background-color: transparent;
                font-size: 24px;
                width: 95%;
                margin-left: auto;
                margin-right: 0;
                padding: 0 30px 30px;
            }
            .about_content_pic {
                transform: translateY(-30px);
            }
        }
        &_eh {
            margin-bottom: 80px;
            >.container {
                display: block;
            }
            .about_content_pic {
                width: 95%;
                padding-bottom: calc(95% * 0.69);
            }
        }
        &_history {
            width: 100%;
            background: linear-gradient(to right, transparent 0%, transparent 6%, $gray-ec 6%, $gray-ec 100%);
            padding-bottom: 0;
            &_text {
                position: static;
                color: $gray-48;
                background-color: transparent;
                font-size: 24px;
                width: 95%;
                margin-left: auto;
                margin-right: 0;
                padding: 0 30px 30px;
                p {
                    color: $gray-7d;
                }
            }
            .about_content_pic {
                margin: 0 auto 0 0;
                transform: translateY(-30px);
            }
        }
    }
}

@media screen and (max-width:767.98px) {
    .company {
        &_text {
            padding: 40px 20px;
        }
    }
}

@media screen and (max-width:575.98px) {
    .home-bussiness {
        &_text {
            padding: 50px 30px;
        }
    }
    .about {
        &_content {
            &_text {
                .title-home {
                    font-size: 28px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width:370px) {
    .about {
        &_content {
            &_text {
                .title-home {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
        }
        &_equip {
            &_title {
                font-size: 24px;
                padding-bottom: 15px;
                margin-top: -15px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .company {
        &_inner {
            padding-right: 40px;
        }
    }
    // .about {
    //     &_history {
    //         &_text {
    //             padding-left: $container-padding-xl;
    //         }
    //     }
    // }
}

@media screen and (min-width:992px) {
    .company {
        &_inner {
            padding-right: $container-padding-lg;
        }
    }
    .about {
        &_history {
            &_text {
                padding-left: $container-padding-lg;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .company {
        &_inner {
            padding-right: $container-padding-xl;
        }
    }
    .about {
        &_history {
            &_text {
                padding-left: $container-padding-xl;
            }
        }
    }
}


@media screen and (min-width:1400px) {
    .company {
        &_inner {
            padding-right: $container-padding-xxl;
        }
    }
    .about {
        &_history {
            &_text {
                padding-left: $container-padding-xxl;
            }
        }
    }
}