@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$main-red:#BB000F;
$main-blue:#194C9F;
$second-blue:#C1CDE3;
$third-blue:#273A5E;
$gray-99:#999;
$gray-46:#464646;
$gray-48:#484848;
$gray-7d:#7d7d7d;
$gray-ec:#ececec;
$gray-56:#565656;
$gray-c6:#c6c6c6;
$common-transition:0.3s;

$container-padding-xxl: calc((100vw - 1320px)/2 + 20px);
$container-padding-xl: calc((100vw - 1140px)/2 + 20px);
$container-padding-lg: calc((100vw - 960px)/2 + 20px);
$container-padding-md: calc((100vw - 720px)/2 + 20px);
$container-padding-sm: calc((100vw - 540px)/2 + 20px);
$container-padding-small: 20px;

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F8F8F8;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}

input, select, textarea, button {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    overflow: hidden;
}

.nav {
    &_bg {
        width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $main-blue;
        z-index: 30;
        padding: 150px 40px 40px;
        overflow-y: auto;
        display: none;
    }
    &_lightBox {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        display: none;
    }
}

.header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 20px;
    transition: $common-transition;
    >.container {
        height: 100%;
        align-items: flex-start;
    }
    &_logo {
        width: 80px;
        padding-bottom: calc(80px * 1.29);
        position: relative;
        display: block;
        transition: $common-transition;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0;
            left: 0;
            &.scroll {
                display: none;
            }
        }
    }
    &_nav {
        &_first {
            &.drop {
                .header_nav_item {
                    >a {
                        color: rgba(255, 255, 255, 0.4);
                    }
                    &:hover {
                        >a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &_item {
            margin-left: 25px;
            >a, >span {
                color: #fff !important;
                z-index: 100;
                position: relative;
                transition: $common-transition;
                cursor: pointer;
                &::after {
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    content: "";
                    top: calc(100% + 5px);
                    left: 0;
                    width: 0;
                    transition: $common-transition;
                }
            }
            &:hover, &.active {
                >a, >span {
                    color: #fff;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        &_drop {
            position: fixed;
            width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
            height: calc(100vh - 50px);
            padding: 50px 60px 40px;
            top: 50px;
            right: 0;
            display: none;
            >ul {
                width: 60%;
                padding-right: 50px;
                >li {
                    margin-bottom: 10px;
                    >a {
                        font-size: 20px;
                        font-weight: normal;
                        color: rgba(255, 255, 255, 0.4);
                        transition: $common-transition;
                    }
                    &:hover {
                        >a {
                            color: #fff;
                            font-weight: bold;
                        }
                        .header_nav_pic {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &_seconddrop {
            padding-top: 10px;
            padding-left: 30px;
            padding-bottom: 10px;
            display: none;
            >li {
                margin-bottom: 5px;
                a {
                    font-size: 18px;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.4);
                    transition: $common-transition;
                }
                &:hover {
                    a {
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
        &_pic {
            position: fixed;
            width: calc((621px + 60px + (100vw - 1320px)/2 + 20px - 120px) * 0.4);
            top: 100px;
            right: 40px;
            opacity: 0;
            transition: $common-transition;
            img {
                width: 100%;
            }
        }
        &_arrow {
            display: none;
        }
    }
    &_search {
        // border: 1px solid #fff;
        height: 40px;
        padding-right: 0;
        margin-left: 25px;
        // width: 45px;
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &_icon {
            width: 25px;
            cursor: pointer;
            path {
                transition: $common-transition;
            }
        }
        &_form {
            background-color: #fff;
            border: 1px solid $main-red;
            height: 40px;
            input {
                padding: 0 10px;
                width: 150px;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }
            }
            button {
                width: 60px;
                height: 100%;
                background-color: $main-red;
                color: #fff;
                font-weight: bold;
            }
        }
        &_hide {
            display: none;
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
        }
        &_arrow {
            width: calc(100% - 150px);
            background-color: #fff;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                width: 80%;
            }
        }
    }
    &_lang {
        position: relative;
        margin-left: 25px;
        &_active {
            padding: 10px;
            height: 40px;
            border: 1px solid #fff;
            cursor: pointer;
            transition: $common-transition;
            svg {
                width: 20px;
                margin-right: 10px;
                path, rect {
                    transition: $common-transition;
                }
            }
            span {
                font-weight: bold;
                margin-right: 20px;
                color: #fff;
                display: block;
                transition: $common-transition;
            }
        }
        &_list {
            position: absolute;
            width: 100%;
            border-color: #000;
            background-color: #fff;
            right: 0;
            top: calc(100% + 5px);
            padding: 10px 15px; 
            display: none;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.active, &:hover {
                    a {
                        color: $main-red;
                    }
                }
                a {
                    transition: $common-transition;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    &.scroll {
        height: 70px;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.86);
        &>.container {
            align-items: center;
        }
        .header {
            &_logo {
                width: 35px;
                padding-bottom: calc(35px * 1.29);
                img {
                    &.normal {
                        display: none;
                    }
                    &.scroll {
                        display: block;
                    }
                }
            }
            &_nav {
                &_item {
                    >a, >span {
                        color: #000 !important;
                    }
                    &:hover, &.active {
                        >a, >span {
                            color: $main-blue !important;
                            &::after {
                                background-color: $main-blue;
                            }
                        }
                    }
                }
            }
            &_search {
                &_icon {
                    path {
                        fill:#000;
                    }
                }
            }
            &_lang {
                &_active {
                    border-color: #000;
                    span {
                        color: #000;
                    }
                }
                &_earth {
                    path, rect {
                        fill: #000;
                    }
                }
                &_arrow {
                    path {
                        stroke: #000;
                    }
                }
                &_list {
                    border: 1px solid #000;
                }
            }
            &_menu {
                .bar {
                    background-color: $main-red;
                }
            }
        }
    }
    &_menu {
        width: 33px;
        height: 22px;
        position: relative;
        margin-left: 25px;
        cursor: pointer;
        .bar {
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 0;
            transition: $common-transition;
            &.top {
                top: 0;
            }
            &.middle {
                top: 50%;
                transform: translateY(-50%);
            }
            &.bottom {
                top: calc(100% - 2px);
            }
        }
        &.active {
            .bar {
                top: 50%;
                left: 50%;
                &.top {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &.middle {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &.bottom {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
    &_func {
        padding: 25px;
    }
}

.title {
    &-home {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 35px;
    }
}

.footer {
    background-color: $main-blue;
    color: #fff;
    &_top {
        padding: 20px 0 50px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
        a {
            color: #fff;
        }
    }
    ul {
        li {
            a {
                color: $second-blue;
                font-size: 14px;
                font-weight: normal;
                transition: $common-transition;
                &:hover {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    &_copyright {
        text-align: center;
        padding: 10px 20px;
        background-color: $second-blue;
        color: $third-blue;
        font-size: 14px;
        font-weight: normal;
    }
}

.btn {
    &-top {
        position: fixed;
        width: 40px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 40px;
        bottom: 70px;
        cursor: pointer;
        z-index: 100;
        transition: $common-transition;
        img, svg {
            width: 100%;
            filter: drop-shadow(0 1px 10px rgba(0,0,0,0.25));
            .cls-1 {
                transition: $common-transition;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
        &.bottom {
            svg {
                .cls-1 {
                    fill: #fff;
                }
            }
        }
    }
    &-iconText {
        background-color: $gray-46;
        padding: 5px 15px;
        transition: $common-transition;
        img {
            width: 15px;
            margin-right: 5px;
        }
        span {
            font-weight: bold;
            color: #fff;
        }
        &:hover {
            background-color: $main-red;
        }
    }
}

.page-banner {
    width: 100%;
    position: relative;
    padding-bottom: 24%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
        font-size: 50px;
        font-weight: bold;
        top: 50%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
    }
    &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(25, 77, 163, 0.67);
        top: 0;
        left: 0;
    }
    &_style {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    &-product {
        background-image: url(../img/product-banner.png);
    }
    &-catalogues {
        background-image: url(../img/Catalogues-banner.png);
    }
    &-about {
        background-image: url(../img/about-banner.png);
    }
    &-news {
        background-image: url(../img/news-banner.png);
    }
    &-application {
        background-image: url(../img/application-banner.png);
    }
    &-video {
        background-image: url(../img/video-banner.png);
    }
    &-contact {
        background-image: url(../img/contact-banner.png);
    }
    &-qa {
        background-image: url(../img/qa-banner.png);
    }
}

.breadcrumb {
    padding-bottom: 30px;
    &-item {
        transition: $common-transition;
        &.active {
            color: $main-red;
        }
        a {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 30px;
    position: relative;
    &::before {
        content: "";
        width: 12px;
        height: 12px;
        background-image: url(../img/arrow-deepgray-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        position: absolute;
    }
}

.tab-common {
    background-color: transparent;
    justify-content: center;
    border: 0;
    margin-bottom: 35px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 20px 10px;
    .nav-item {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-link {
        border: 1px solid $gray-46;
        padding: 10px 65px;
        border-radius: 0;
        transform: skew(-15deg);
        transition: $common-transition;
        span {
            color: $gray-46;
            font-weight: bold;
            transform: skew(15deg);
            display: block;
            transition: $common-transition;
            white-space: nowrap;
        }
        &.active, &:hover {
            background-color: $main-blue;
            border-radius: $main-blue;
            span {
                color: #fff;
            }
        }
    }
}

.pagination-common {
    margin-bottom: 100px;
    .pagination {
        justify-content: center;
        .page-link {
            color: $gray-c6;
            font-weight: normal;
            background-color: transparent;
            border-radius: 5px;
            border-color: $gray-c6;
            transition: $common-transition;
            &.active, &:hover {
                border-color: $main-blue;
                background-color: $main-blue;
                color: #fff;
                font-weight: bold;
            }
        }
        .page-item {
            margin-left: 4px;
            margin-right: 4px;
            &.prev {
                img {
                    transform: scaleX(-1);
                }
            }
        }
    }
}


.detail_pageBtn {
    a {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #d9d9d9;
        border: 1px solid #d9d9d9;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        transition: $common-transition;
        &.prev {
            transform: scaleX(-1);
        }
        svg {
            width: 10px;
            path {
                transition: $common-transition;
            }
        }
        &:hover {
            background-color: transparent;
            border-color: #000;
            svg {
                path {
                    stroke: #000;
                }
            }
        }
    }
}

.content {
    &_detail {
        padding-top: 30px;
        padding-left: 0;
        &_inner {
            padding-right: 0;
            padding-bottom: 100px;
            background-color: $gray-ec;
        }
        &_pic {
            transform: translate(-50px,-30px);
            &_inner {
                position: relative;
                background-color: $main-blue;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    transform: translate(-10px, -10px);
                }
            }
        }
        &_text {
            padding-top: 20px;
            h2 {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 0;
                color: $gray-46;
            }
        }
        .application_pdList {
            padding-bottom: 0;
        }
    }
}


.form-common {
    label {
        color: $gray-46;
        margin-bottom: 5px;
        span {
            color: $main-red;
        }
    }
    input, textarea {
        width: 100%;
        border: 1px solid #B1B1B1;
        background-color: #fff;
        padding: 5px 10px;
    }
    input {
        height: 40px;
    }
    &_item {
        margin-bottom: 15px;
    }
    &_code {
        width: 100%;
        border: 1px solid #B1B1B1;
        background-color: #fff;
        height: 40px;
        input {
            border: 0;
            width: calc(100% - 50px - 45px);
            background-color: transparent;
        }
        .btn-change {
            width: 45px;
            height: 100%;
            padding: 5px;
            img {
                width: 80%;
            }
        }
        &_pic {
            width: 50px;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:1199.98px) {
    .title-home {
        font-size: 38px;
    }
    .page-banner {
        h1 {
            font-size: 42px;
        }
    }
}

@media screen and (max-width:991.98px) {
    .header {
        >.container {
            max-width: none;
            padding-left: 40px;
            padding-right: 40px;
        }
        &_nav {
            position: fixed;
            background-color: $main-blue;
            width: 300px;
            top: 0;
            // right: 0;
            left: 100%;
            height: 100vh;
            padding-top: 85px;
            transition: $common-transition;
            overflow-y: auto;
            &_item {
                margin-bottom: 15px;
                // width: fit-content;
                >a, >span {
                    width: 100%;
                    position: relative;
                    display: block;
                    >img {
                        position: absolute;
                        width: 15px;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                    }
                    &.active {
                        >img {
                            transform: translateY(-50%) rotate();
                        }
                    }
                    &:hover {
                        &::after {
                            width: 0;
                        }
                        &.active {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    &::after {
                        top: 100%;
                    }
                }
                a {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            &.active {
                left: calc(100% - 300px);
            }
            &_drop {
                position: static;
                // display: block;
                width: 100%;
                height: auto;
                padding: 10px 20px;
                >ul {
                    width: 100%;
                    padding: 0;
                    >li {
                        margin-bottom: 10px;
                        >a {
                            font-size: 15px;
                        }
                    }
                }
            }
            &_arrow {
                width: 13px;
                transition: $common-transition;
                position: static !important;
                transform: none !important;
                display: block;
            }
            &_titleM {
                padding-right: 20px;
                &.drop {
                    .header_nav_arrow {
                        transform: rotate(90deg) !important;
                    }
                }
            }
        }
        &_search {
            &_form {
                background-color: transparent;
                border-color: #fff;
                input {
                    width: calc(100% - 60px);
                }
                button {
                    background-color: #fff;
                    color: $main-blue;
                }
            }
        }
        &_func {
            margin-top: 50px;
            &_lang {
                margin-top: 15px;
                a {
                    display: inline-block;
                    margin-right: 15px;
                    border: 1px solid #fff;
                    padding: 5px 10px;
                    color: #fff;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.active {
                        background-color: #fff;
                        color: $main-blue;
                    }
                }
                
            }
        }
        &.scroll {
            .header {
                &_menu {
                    &.active {
                        .bar {
                            background-color: #fff;
                        }
                    }
                }
                &_nav {
                    &_item {
                        >a, span {
                            color: #fff !important;
                        }
                        &.active {
                            >a, span {
                                color: #fff !important;
                                &::after {
                                    background-color: #fff;
                                }
                            }
                        }
                        &:hover {
                            >a, span {
                                color: #fff !important;
                                &::after {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-banner {
        padding-bottom: 35%;
    }
    .btn-top {
        right: 20px;
        z-index: 10;
    }
    .content {
        &_detail {
            &_pic {
                transform: translate(-30px,-30px);
            }
            &_inner {
                padding-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width:767.98px) {
    .page-banner {
        padding-bottom: 48%;
        h1 {
            font-size: 36px;
        }
    }
    .header {
        >.container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &_logo {
            width: 60px;
            padding-bottom: calc(60px * 1.29);
        }
        &_menu {
            width: 28px;
            height: 19px;
        }
    }
    .breadcrumb {
        &-item {
            a {
                font-size: 14px;
            }
        }
    }
    .tab-common {
        .nav-link {
            padding: 10px 30px;  
        }
    }
    .content {
        &_detail {
            &_text {
                width: 100%;
                padding: 0 20px 0 30px;
            }
            &_pic {
                transform: translate(5px,-20px);
                margin: 0 auto;
            }
        }
    }
}



@media screen and (max-width:575.98px) {
    .title-home {
        font-size: 36px;
    }
    .header {
        &_logo {
            width: 40px;
            padding-bottom: calc(40px * 1.29);
        }
    }
    .page-banner {
        padding-bottom: 48%;
        h1 {
            font-size: 32px;
        }
    }
}

@media screen and (max-width:450px) {
    .title-home {
        font-size: 30px;
    }
    .page-banner {
        h1 {
            font-size: 28px;
        }
    }
}

@media screen and (max-width:400px) {
    .tab-common {
        .nav-link {
            padding: 10px 20px;  
        }
        .nav-item {
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .form-common {
        input {
            height: 35px;
        }
        &_item {
            margin-bottom: 10px;
        } 
    }
}

@media screen and (min-width:768px) {
    .content {
        &_detail {
            padding-left: 80px;
            &_inner {
                padding-right: 40px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .nav {
        &_bg {
            width: calc(621px + 60px + (100vw - 960px)/2 + 20px);
        }
        &_drop {
            width: calc(621px + 60px + (100vw - 960px)/2 + 20px);
        }
        &_pic {
            width: calc((621px + 60px + (100vw - 960px)/2 + 20px - 120px) * 0.4);
        }
    }
    .content {
        &_detail {
            padding-left: calc((100vw - 960px)/2 + 20px + 50px);
            &_inner {
                padding-right: $container-padding-lg;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .nav {
        &_bg {
            width: calc(621px + 60px + (100vw - 1140px)/2 + 20px);
        }
        &_drop {
            width: calc(621px + 60px + (100vw - 1140px)/2 + 20px);
        }
        &_pic {
            width: calc((621px + 60px + (100vw - 1140px)/2 + 20px - 120px) * 0.4);
        }
    }
    .content {
        &_detail {
            padding-left: calc((100vw - 1140px)/2 + 20px + 50px);
            &_inner {
                padding-right: $container-padding-lg;
            }
        }
    }
}

@media screen and (min-width:1400px) {
    .nav {
        &_bg {
            width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
        }
        &_drop {
            width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
        }
        &_pic {
            width: calc((621px + 60px + (100vw - 1320px)/2 + 20px - 120px) * 0.4);
        }
    }
    .content {
        &_detail {
            padding-left: calc((100vw - 1320px)/2 + 20px + 50px);
            &_inner {
                padding-right: $container-padding-xxl;
            }
        }
    }
}
