@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F8F8F8;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

input, select, textarea, button {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  outline: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.nav_bg {
  width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #194C9F;
  z-index: 30;
  padding: 150px 40px 40px;
  overflow-y: auto;
  display: none;
}

.nav_lightBox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
}

.header {
  width: 100%;
  height: 140px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header > .container {
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_logo {
  width: 80px;
  padding-bottom: calc(80px * 1.29);
  position: relative;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.header_logo img.scroll {
  display: none;
}

.header_nav_first.drop .header_nav_item > a {
  color: rgba(255, 255, 255, 0.4);
}

.header_nav_first.drop .header_nav_item:hover > a {
  color: #fff;
}

.header_nav_item {
  margin-left: 25px;
}

.header_nav_item > a {
  color: #fff;
  z-index: 100;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_item > a::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  content: "";
  top: calc(100% + 5px);
  left: 0;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_item:hover > a, .header_nav_item.active > a {
  color: #fff;
}

.header_nav_item:hover > a::after, .header_nav_item.active > a::after {
  width: 100%;
}

.header_nav_drop {
  position: fixed;
  width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
  height: calc(100vh - 50px);
  padding: 50px 60px 40px;
  top: 50px;
  right: 0;
  display: none;
}

.header_nav_drop > ul {
  width: 60%;
  padding-right: 50px;
}

.header_nav_drop > ul > li {
  margin-bottom: 10px;
}

.header_nav_drop > ul > li > a {
  font-size: 20px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_drop > ul > li:hover > a {
  color: #fff;
  font-weight: bold;
}

.header_nav_drop > ul > li:hover .header_nav_pic {
  opacity: 1;
}

.header_nav_seconddrop {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  display: none;
}

.header_nav_seconddrop > li {
  margin-bottom: 5px;
}

.header_nav_seconddrop > li a {
  font-size: 18px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_seconddrop > li:hover a {
  color: #fff;
  font-weight: bold;
}

.header_nav_pic {
  position: fixed;
  width: calc((621px + 60px + (100vw - 1320px)/2 + 20px - 120px) * 0.4);
  top: 100px;
  right: 40px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_pic img {
  width: 100%;
}

.header_search {
  height: 40px;
  padding-right: 0;
  margin-left: 25px;
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_search_icon {
  width: 25px;
  cursor: pointer;
}

.header_search_icon path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_search_form {
  background-color: #fff;
  border: 1px solid #BB000F;
  height: 40px;
}

.header_search_form input {
  padding: 0 10px;
  width: 150px;
}

.header_search_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.header_search_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.header_search_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.header_search_form input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.header_search_form button {
  width: 60px;
  height: 100%;
  background-color: #BB000F;
  color: #fff;
  font-weight: bold;
}

.header_search_hide {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
}

.header_search_arrow {
  width: calc(100% - 150px);
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header_search_arrow img {
  width: 80%;
}

.header_lang {
  position: relative;
  margin-left: 25px;
}

.header_lang_active {
  padding: 10px;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_lang_active svg {
  width: 20px;
  margin-right: 10px;
}

.header_lang_active svg path, .header_lang_active svg rect {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_lang_active span {
  font-weight: bold;
  margin-right: 20px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_lang_list {
  position: absolute;
  width: 100%;
  border-color: #000;
  background-color: #fff;
  right: 0;
  top: calc(100% + 5px);
  padding: 10px 15px;
  display: none;
}

.header_lang_list li {
  margin-bottom: 10px;
}

.header_lang_list li:last-child {
  margin-bottom: 0;
}

.header_lang_list li.active a, .header_lang_list li:hover a {
  color: #BB000F;
}

.header_lang_list li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  width: 100%;
}

.header.scroll {
  height: 70px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.86);
}

.header.scroll > .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.scroll .header_logo {
  width: 35px;
  padding-bottom: calc(35px * 1.29);
}

.header.scroll .header_logo img.normal {
  display: none;
}

.header.scroll .header_logo img.scroll {
  display: block;
}

.header.scroll .header_nav_item > a {
  color: #000;
}

.header.scroll .header_nav_item:hover > a, .header.scroll .header_nav_item.active > a {
  color: #194C9F;
}

.header.scroll .header_nav_item:hover > a::after, .header.scroll .header_nav_item.active > a::after {
  background-color: #194C9F;
}

.header.scroll .header_search_icon path {
  fill: #000;
}

.header.scroll .header_lang_active {
  border-color: #000;
}

.header.scroll .header_lang_active span {
  color: #000;
}

.header.scroll .header_lang_earth path, .header.scroll .header_lang_earth rect {
  fill: #000;
}

.header.scroll .header_lang_arrow path {
  stroke: #000;
}

.header.scroll .header_lang_list {
  border: 1px solid #000;
}

.header_menu {
  width: 33px;
  height: 22px;
  position: relative;
  margin-left: 25px;
  cursor: pointer;
}

.header_menu .bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu .bar.top {
  top: 0;
}

.header_menu .bar.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_menu .bar.bottom {
  top: calc(100% - 2px);
}

.header_menu.active .bar {
  top: 50%;
  left: 50%;
}

.header_menu.active .bar.top {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header_menu.active .bar.middle {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header_menu.active .bar.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header_func {
  padding: 25px;
}

.title-home {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 35px;
}

.footer {
  background-color: #194C9F;
  color: #fff;
}

.footer_top {
  padding: 20px 0 50px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer h3 a {
  color: #fff;
}

.footer ul li a {
  color: #C1CDE3;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li a:hover {
  color: #fff;
  font-weight: bold;
}

.footer_copyright {
  text-align: center;
  padding: 10px 20px;
  background-color: #C1CDE3;
  color: #273A5E;
  font-size: 14px;
  font-weight: normal;
}

.btn-top {
  position: fixed;
  width: 40px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 40px;
  bottom: 50px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-top img {
  width: 100%;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.25));
}

.btn-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1199.98px) {
  .title-home {
    font-size: 38px;
  }
}

@media screen and (max-width: 991.98px) {
  .header > .container {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header_nav {
    position: fixed;
    background-color: #194C9F;
    width: 300px;
    top: 0;
    left: 100%;
    height: 100vh;
    padding-top: 85px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_nav_item {
    margin-bottom: 10px;
  }
  .header_nav_item > a {
    width: 100%;
    position: relative;
    display: block;
  }
  .header_nav_item > a > img {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header_nav_item > a.active > img {
    -webkit-transform: translateY(-50%) rotate();
            transform: translateY(-50%) rotate();
  }
  .header_nav_item a {
    color: rgba(255, 255, 255, 0.5);
  }
  .header_nav.active {
    left: calc(100% - 300px);
  }
  .header_search_form {
    background-color: transparent;
    border-color: #fff;
  }
  .header_search_form input {
    width: calc(100% - 60px);
  }
  .header_search_form button {
    background-color: #fff;
    color: #194C9F;
  }
  .header_func {
    margin-top: 50px;
  }
  .header_func_lang {
    margin-top: 15px;
  }
  .header_func_lang a {
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
  }
  .header_func_lang a:last-child {
    margin-right: 0;
  }
  .header_func_lang a.active {
    background-color: #fff;
    color: #194C9F;
  }
}

@media screen and (max-width: 575.98px) {
  .title-home {
    font-size: 36px;
  }
}

@media screen and (max-width: 450px) {
  .title-home {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .nav_bg {
    width: calc(621px + 60px + (100vw - 960px)/2 + 20px);
  }
  .nav_drop {
    width: calc(621px + 60px + (100vw - 960px)/2 + 20px);
  }
  .nav_pic {
    width: calc((621px + 60px + (100vw - 960px)/2 + 20px - 120px) * 0.4);
  }
}

@media screen and (min-width: 1200px) {
  .nav_bg {
    width: calc(621px + 60px + (100vw - 1140px)/2 + 20px);
  }
  .nav_drop {
    width: calc(621px + 60px + (100vw - 1140px)/2 + 20px);
  }
  .nav_pic {
    width: calc((621px + 60px + (100vw - 1140px)/2 + 20px - 120px) * 0.4);
  }
}

@media screen and (min-width: 1400px) {
  .nav_bg {
    width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
  }
  .nav_drop {
    width: calc(621px + 60px + (100vw - 1320px)/2 + 20px);
  }
  .nav_pic {
    width: calc((621px + 60px + (100vw - 1320px)/2 + 20px - 120px) * 0.4);
  }
}

.home-banner {
  position: relative;
}

.home-banner .swiper-slide {
  width: 100%;
  padding-bottom: 43%;
  position: relative;
}

.home-banner .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 77, 163, 0.67);
  top: 0;
  left: 0;
  z-index: 10;
}

.home-banner_style {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.5px;
  z-index: 10;
}

.home-banner_product {
  position: absolute;
  width: 40%;
  bottom: -4.4vw;
  left: 3.13vw;
  z-index: 10;
}

.home-banner_title {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  margin: 0;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #fff;
}

.home-banner .swiper-pagination {
  position: absolute;
  right: 20px;
  bottom: 3.72vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: inherit;
  z-index: 20;
}

.home-banner .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 3px;
  opacity: 3;
  background-color: transparent;
  margin-left: 10px;
}

.home-banner .swiper-pagination-bullet-active {
  background-color: #fff;
}

.home-product {
  margin-top: 150px;
  background-image: url(../img/home-media-bg_top.png);
  background-size: contain;
  background-position: 0 bottom;
  background-repeat: no-repeat;
}

.home-product .row {
  margin: 0;
}

.home-product_tab {
  padding-left: 100px;
}

.home-product_tab .nav-link {
  background-color: transparent;
  border-radius: 0;
  color: #999;
  font-weight: bold;
  text-align: left;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-product_tab .nav-link.active {
  background-color: transparent;
  font-size: 18px;
  color: #BB000F;
}

.home-product_tab .nav-link.active::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/product-arrow.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-product_tab .nav-link:hover {
  color: #BB000F;
}

.home-product_tab > .nav {
  padding-left: 15px;
}

.home-product_item {
  width: 100%;
  padding-bottom: 110%;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

.home-product_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.home-product_slider {
  padding-right: 50px;
  position: relative;
}

.home-product_slider .swiper-button-next, .home-product_slider .swiper-button-prev {
  width: 25px;
  height: 25px;
  background-image: url(../img/product-slider-arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  top: calc(31% - 20px);
}

.home-product_slider .swiper-button-next::after, .home-product_slider .swiper-button-prev::after {
  display: none;
}

.home-product_slider .swiper-button-next {
  right: 30px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.home-product_slider .swiper-button-prev {
  right: 75px;
  left: inherit;
}

.home-product_slider_inner {
  width: 100%;
  padding-bottom: 65%;
  position: relative;
}

.home-product_linear {
  width: 100%;
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 88, 155, 0)), to(rgba(4, 88, 155, 0.88)));
  background: linear-gradient(180deg, rgba(4, 88, 155, 0) 0%, rgba(4, 88, 155, 0.88) 100%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-product_text {
  width: 100%;
  position: absolute;
  color: #fff;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-product_text h3 {
  font-size: 24px;
  margin-bottom: 9px;
  font-weight: bold;
}

.home-product_text h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.home-product_text p {
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0;
}

.home-product_swiper {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.home-product_swiper .swiper-slide {
  width: calc(40%) !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

.home-product_swiper .swiper-slide-active {
  width: calc(60%) !important;
}

.home-product_swiper .swiper-slide-active .home-product_linear {
  opacity: 1;
}

.home-product_swiper .swiper-slide-active .home-product_text {
  opacity: 1;
}

.home-product_tabSelect {
  position: relative;
}

.home-product_tabSelect_active {
  padding: 10px 20px;
  border: 1px solid #000;
  width: 280px;
}

.home-product_tabSelect_active span {
  margin-right: 20px;
}

.home-product_tabSelect_active img {
  width: 13px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home-product_tabSelect_hide {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
  left: 0;
  top: calc(100% + 5px);
  padding: 10px 20px;
  background-color: #fff;
  display: none;
  z-index: 20;
}

.home-product_tabSelect_hide li {
  cursor: pointer;
  margin-bottom: 8px;
}

.home-product_tabSelect_hide li:last-child {
  margin-bottom: 0;
}

.home-product_tabSelect_hide li.active {
  color: #BB000F;
}

.home-media {
  position: relative;
  width: 100%;
  padding-bottom: 45.9028%;
  background-image: url(../img/home-media-bg_center.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-media_content {
  position: absolute;
  width: 100%;
  max-width: 890px;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.home-media .title-home {
  color: #fff;
  text-align: center;
}

.home-media .btn-more {
  border-color: #fff;
}

.home-media .btn-more span {
  color: #fff;
}

.home-media .btn-more_bg {
  background-color: #fff;
}

.home-media .btn-more:hover {
  border-color: #fff;
}

.home-media .btn-more:hover span {
  color: #194C9F;
}

.home-profile {
  position: relative;
}

.home-profile_style {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.home-profile_style.style-320 {
  display: none;
}

.home-profile .row {
  margin: 0;
}

.home-profile .row > div {
  padding: 0;
}

.home-profile_pic {
  width: 100%;
  padding-bottom: 104.17%;
  position: relative;
}

.home-profile_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.home-profile_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 150px 30px 75px;
  height: 100%;
}

.home-profile_text h2, .home-profile_text p {
  width: 100%;
}

.home-profile_text h2 {
  margin-bottom: 20px;
  margin-top: 11.53vw;
}

.home-bussiness {
  padding: 135px 0;
  background-image: url(../img/Business-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bussiness_text {
  background-color: #194C9F;
  width: 50%;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.home-bussiness_inner {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 70px;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.home-bussiness_inner .title-home {
  margin-bottom: 20px;
}

.btn-more {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #484848;
  margin-top: 50px;
  width: 190px;
  height: 55px;
  position: relative;
}

.btn-more span {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  text-align: center;
  color: #484848;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-more_bg {
  background-color: #194C9F;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-more:hover {
  border-color: #194C9F;
}

.btn-more:hover span {
  color: #fff;
}

.btn-more:hover .btn-more_bg {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .home-product_tab {
    width: 30%;
  }
  .home-product_slider {
    width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  .home-media .title-home {
    margin-bottom: 25px;
  }
  .home-media .btn-more {
    margin-top: 0px;
  }
  .home-media .media-list {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1250px) {
  .home-product .btn-more {
    border-color: #fff;
  }
  .home-product .btn-more span {
    color: #fff;
  }
}

@media screen and (max-width: 1199.98px) {
  .home-product_tab {
    padding-left: 50px;
  }
  .home-product_slider {
    padding-right: 30px;
  }
  .home-profile_text {
    padding: 30px 70px;
  }
  .home-bussiness_inner {
    padding: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .home-media .media-list > a {
    padding: 10px 15px 10px 10px;
    margin-bottom: 15px;
  }
  .home-media .media-list_pic {
    width: 15%;
    padding-bottom: calc(15% * 0.7067);
  }
  .home-media .media-list_text {
    width: 85%;
  }
  .home-media .media-list_text h3 {
    font-size: 16px;
  }
  .home-media .media-list_content {
    margin-top: 5px;
    line-height: 1.3;
    font-size: 14px;
  }
}

@media screen and (max-width: 991.98px) {
  .home-banner_title {
    font-size: 42px;
  }
  .home-product_tab {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .home-product_tab .title-home {
    margin: 0;
  }
  .home-product_tab .nav {
    display: none;
  }
  .home-product_slider {
    width: 100%;
    padding-right: 10px;
  }
  .home-product .btn-more {
    margin-bottom: 100px;
    border-color: #000;
  }
  .home-product .btn-more span {
    color: #000;
  }
  .home-media .media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
    margin: 0;
  }
  .home-media .media-list a {
    width: 225px;
    margin: 0 20px 0 0 !important;
    padding: 10px;
    height: 100%;
  }
  .home-media .media-list a .media-list_pic {
    width: 100%;
    padding-bottom: 70.67%;
    margin-bottom: 10px;
  }
  .home-media .media-list a .media-list_text {
    width: 100%;
    padding: 0;
  }
  .home-media .media-list a .media-list_text h3 {
    font-size: 16px;
    width: 100%;
  }
  .home-media .media-list a .media-list_content {
    font-size: 14px;
  }
  .home-media .btn-more {
    margin-top: 0;
  }
  .home-profile_text {
    padding: 50px 70px;
  }
  .home-profile_text h2 {
    margin-top: 0;
  }
  .home-bussiness {
    background-image: none;
    padding: 0;
  }
  .home-bussiness_text {
    -webkit-transform: none;
            transform: none;
    background-color: transparent;
    width: 100%;
    padding: 50px 70px;
  }
  .home-bussiness_inner {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 767.98px) {
  .home-banner_title {
    font-size: 36px;
    line-height: 1.2;
  }
  .home-product {
    background-image: url(../img/home-media-bg_top-md.png);
  }
  .home-media {
    padding-bottom: 70.0521%;
    background-image: url(../img/home-media-bg_center-md.png);
  }
  .home-media .media-list {
    width: 100%;
    margin-bottom: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-media .media-list a {
    margin: 0 10px !important;
  }
}

@media screen and (max-width: 575.98px) {
  .home-banner_title {
    font-size: 36px;
    line-height: 1.2;
  }
  .home-banner .swiper-slide {
    padding-bottom: 80%;
  }
  .home-banner .swiper-pagination-bullet {
    border-width: 1px;
  }
  .home-product {
    background-image: url(../img/home-media-bg_top-sm.png);
  }
  .home-product_tab {
    display: block;
    margin-bottom: 0;
  }
  .home-product_tab .title-home {
    margin-bottom: 15px;
  }
  .home-product_swiper .swiper-slide {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-product_swiper .swiper-slide-active {
    width: 100% !important;
  }
  .home-product_slider_inner {
    padding-bottom: 110%;
  }
  .home-product_slider .swiper-button-next, .home-product_slider .swiper-button-prev {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .home-product_slider .swiper-button-next {
    -webkit-transform: translateY(-50%) scaleX(-1);
            transform: translateY(-50%) scaleX(-1);
  }
  .home-product_slider .swiper-button-prev {
    right: inherit;
    left: 30px;
  }
  .home-product .btn-more {
    margin-top: 25px;
  }
  .home-product_tabSelect_active {
    width: 100%;
    padding: 10px;
  }
  .home-product_tabSelect_active span {
    font-size: 15px;
    margin-right: 10px;
  }
  .home-media {
    padding-bottom: 196.4976%;
    background-image: url(../img/home-media-bg_center-sm.png);
  }
  .home-media .media-list {
    display: block;
  }
  .home-media .media-list > a {
    margin: 0 auto 20px !important;
  }
  .home-media .title-home {
    margin-bottom: 15px;
  }
  .home-profile_text {
    padding: 50px 30px;
  }
  .home-bussiness_text {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 400px) {
  .home-banner_title {
    font-size: 32px;
  }
  .home-product {
    background-image: url(../img/home-media-bg_top-xxs.png);
  }
  .home-media {
    padding-bottom: 240.4688%;
    background-image: url(../img/home-media-bg_center-xxs.png);
  }
  .home-profile_style.style-sm {
    display: none !important;
  }
  .home-profile_style.style-320 {
    display: block;
  }
}

@media screen and (min-width: 576px) {
  .home-banner_title {
    right: calc((100vw - 540px)/2 + 20px);
  }
  .home-banner .swiper-pagination {
    right: calc((100vw - 540px)/2 + 20px);
  }
}

@media screen and (min-width: 768px) {
  .home-banner_title {
    right: calc((100vw - 720px)/2 + 20px);
  }
  .home-banner .swiper-pagination {
    right: calc((100vw - 720px)/2 + 20px);
  }
}

@media screen and (min-width: 992px) {
  .home-banner_title {
    right: calc((100vw - 960px)/2 + 20px);
  }
  .home-banner .swiper-pagination {
    right: calc((100vw - 960px)/2 + 20px);
  }
}

@media screen and (min-width: 1200px) {
  .home-banner_title {
    right: calc((100vw - 1140px)/2 + 20px);
  }
  .home-banner .swiper-pagination {
    right: calc((100vw - 1140px)/2 + 20px);
  }
}

@media screen and (min-width: 1400px) {
  .home-banner_title {
    right: calc((100vw - 1320px)/2 + 20px);
  }
  .home-banner .swiper-pagination {
    right: calc((100vw - 1320px)/2 + 20px);
  }
}

.media-list {
  margin: 0 auto 45px;
}

.media-list > a {
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.media-list > a:last-child {
  margin-bottom: 20px;
}

.media-list_pic {
  width: 25%;
  padding-bottom: calc(25% * 0.7067);
  position: relative;
}

.media-list_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.media-list_text {
  padding-left: 15px;
  width: 75%;
}

.media-list_text h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.media-list_date {
  font-size: 13px;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.media-list_content {
  margin: 10px 0 0;
  font-weight: 300;
  color: #7d7d7d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .media-list_pic {
    width: 20%;
    padding-bottom: calc(20% * 0.7067);
  }
  .media-list_text {
    width: 80%;
  }
}

.intro_content {
  color: #7d7d7d;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  text-align: justify;
}

.intro-global {
  text-align: center;
  padding: 100px 20px 0;
  background-image: url(../img/global-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-global .title-home {
  margin-bottom: 15px;
}

.intro-global .intro_content {
  text-align: center;
  margin: 0 0 35px;
}
/*# sourceMappingURL=style.css.map */